 .portfolio__container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 2.5rem;
    width: 75%;
    transform: translateX(17%);
 }
 .portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
 }
 .portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
 }
 .portfolio__item image{
    border-radius: 1.5rem;
    overflow: hidden;
 }
 .portfolio__item h3{
    margin:1.2rem 0 2rem;
    text-align: center;
    
 }
 .portfolio__item a{
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
    transform: translateX(35%);
 }
 .portfolio__item a:hover{
      color: var(--color-bg-variant);
 }

/* ====================== MEDIA QURIES (MEDIUM DEVICES) ========================*/
@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

}

/* ====================== MEDIA QURIES (MEDIUM DEVICES) ========================*/
@media screen and (max-width:600px) {
    .portfolio__container{
     grid-template-columns: 1fr;
     gap:1rem ;
    }
}